<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Panini.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Ambiente" value="Desenv" />
  </appSettings>
  <connectionStrings>
    <add name="Prod" connectionString="Data Source=10.10.6.5;Initial Catalog=PW;Timeout=60;User Id=pw-sql;Password=pw@123admin;" providerName="System.Data.SqlClient" />
    <add name="Desenv" connectionString="Data Source=10.10.6.5;Initial Catalog=HOMOLOGACAO_PW;Timeout=60;User Id=pw-sql;Password=pw@123admin;" 		providerName="System.Data.SqlClient" />
    <add name="Desenv2" connectionString="Data Source=192.168.61.20;Initial Catalog=Panini;Timeout=60;User Id=sa;Password=psoffice;" 		providerName="System.Data.SqlClient" />
    <add name="Desenv3" connectionString="Data Source=JUBARROS-HP\LOCAL01;Initial Catalog=Panini;Timeout=60;User Id=sa;Password=123456;" 		providerName="System.Data.SqlClient" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="pw@panini.com.br">
        <network host="10.10.6.4" port="25" userName="pw@panini.com.br" password="pw@panini" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-br"/>
    <identity impersonate="true"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" loginUrl="~/Login.aspx" defaultUrl="~/RelatorioConsulta.aspx"  cookieless="UseDeviceProfile" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Desenv" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Desenv" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="Desenv" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>

    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Login.aspx"/>
    </customErrors>

    <sessionState timeout="15" regenerateExpiredSessionId="false" sqlCommandTimeout="60"/>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

</configuration>